/* Estilos generales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #00ffd4;
}

/* Barra de navegación */
.navbar {
  background-color: #333;
  padding: 10px 0;
}

/* Lista de navegación */
.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

/* Enlaces de navegación */
.nav-list a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  transition: background 0.3s;
}

.nav-list a:hover {
  background-color: #555;
  border-radius: 4px;
}

h1 {
  text-align: center;
}
.titulos{
  text-align: center;
}
.img1{
  width: 200px;
  box-shadow: 5px 5px 5px black;
}
.contenedorImg{
  text-align: center;
}
.tablaInfo{
  margin: 0 auto; /* centra horizontalmente */
    border-collapse: collapse;
    border: 1px solid black;
}